@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* override default background and form controls */
  body {
    @apply bg-zinc-200;
    font-family: var(--font-geist-sans);
  }

  .monospace {
    font-family: var(--font-geist-mono);
  }

  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select,
  optgroup,
  select,
  textarea,
  input.form-select {
    @apply text-zinc-900 bg-white border border-zinc-900;
  }

  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-zinc-800;
    }

    [type="text"],
    input:where(:not([type])),
    [type="email"],
    [type="url"],
    [type="password"],
    [type="number"],
    [type="date"],
    [type="datetime-local"],
    [type="month"],
    [type="search"],
    [type="tel"],
    [type="time"],
    [type="week"],
    [multiple],
    textarea,
    select,
    optgroup,
    select,
    textarea,
    input.form-select {
      @apply text-inherit bg-zinc-600 border border-slate-400;
    }
  }
}
